*{margin: 0; padding: 0; font-family: 'IBM Plex Sans Thai Looped', sans-serif;}

hr{
    outline: none;
    border: none;
    background: #00e1ff;
    height: 4px;
    border-radius: 3px;
}

hr#one{
    width: 70%;
    margin-bottom: 20px;
}

hr#two{
    width: 30%;
    margin-top: 20px;
}

p{
    width: 70%;
}

body{
    background: white;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    text-align: center;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-input{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 700px){
    .main-input{
        text-align: center;
        align-items: center;
    }

    input{
        width: 80%;
        align-items: center;
    }

    button{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    button:last-child{
        margin-bottom: 0;
    }
}

label{
    font-size: 2rem;
    font-weight: bold;
}

input{
    outline: none;
    border: 2px solid #00e1ff;
    border-radius: 7px;
    height: 40px;
    font-size: 1.5rem;
    margin-bottom: 30px;
}

button{
    outline: none;
    border: 1px solid;
    border-radius: 10px;
    width: 150px;
    background: #00e1ff;
    padding: 10px;
    cursor: pointer;
}

button:hover{
    background: #00e1ffc7;
}

.button button{
    margin-right: 10px;
}

.button button:last-child{
    margin-right:0;
}

i{
    margin-right: 5px;
    font-size: 1.2rem;
}

.list{
    margin: 20px 0;
    text-align: center;
}

.result{
    display: flex;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.result-team-a{
    margin-right: 50px;
}

@media screen and (max-width: 700px) {
    .result{
        display: flex;
        flex-direction: column;
    }

    .result-team-a, .result-team-b{
        text-align: center;
        margin-right: 0;
    }
}

.footer{
    text-align: center;
    font-weight: bold;
}